<h1><%= @restaurant.name %></h1>
<h3>Address: <%= @restaurant.address %></h3>
<h3>Phone number: <%= @restaurant.phone_number %></h3>
<h3>Category: <%= @restaurant.category.capitalize %></h3>

<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">
      <%= review.content %>
    </li>
  <% end %>
</ul>

<%= link_to "Back to restaurants", restaurants_path %>
<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
